<% include ../partials/header %>

<% include ../partials/nav %>

<div class = "container-fluid">

    <div class = "container fluid row">

        <div class = "col-md-1">

        </div>

        <div class = "col-md-1">



        </div>

    </div>


    <div class = "row">
        <div id = "left_menu" class = "col-md-2">

            <% if(crr_user){ %>

                <h2> <a href = "/user/<%= crr_user._id %>">Logged in as: <%=crr_user.username%></a> </h2>

            <% } else {%>

                <p class = "lead">Stuff</p>

            <% } %>

            <div class = "list-group">
                <a href="/shop/new" class="list-group-item list-group-item-action">Add a Post!</a>
                <a href = "/logout" class="list-group-item list-group-item-action">Sign Out</a>
                <li class = "list-group-item">Info 3</li>
                <li class = "list-group-item">Info 4</li>
            </div>

            <hr>

                    <div id = "filter_container">

                        <div class = "container-fluid">


                        <form class = "form-inline" action = "/shop/search" method = "GET">

                          <p>What is the name of the product you want to find?</p>

                            <div class="ui small icon input">

                              <input  type="text" placeholder="Search" name = "search[title]">

                              <i class="search icon"></i>

                            </div>

                            <p>Set the price range:</p>

                            <div class = "form-group">
                                <input type = "number" class = "form-control" name = "search[min]" placeholder = "Min">
                            </div>

                            <div class = "form-group">
                                <input type = "number" class = "form-control" name = "search[max]" placeholder = "Max">
                            </div>

                        <!--</div>-->

                        <hr>

                        <!--<div class = "container-fluid">-->

                            <p> Which category do you want to look at?</p>


                            <div class = radio-inline>
                                <label><input type="radio" name="search[category]" value = "all" checked>All</label>
                            </div>
                            <div class = radio-inline>
                                <label><input type="radio" name="search[category]" value = "cars"><i class="fa fa-car"></i> Cars</label>
                            </div>
                            <div class = radio-inline>
                                <label><input type="radio" name="search[category]" value = "elec"><i class="fa fa-mobile"></i> Electronics</label>
                            </div>
                            <div class = radio-inline>
                                <label><input type="radio" name="search[category]" value = "out"><i class="fa fa-sun-o"></i> Outdoors</label>
                            </div>
                            <div class = radio-inline>
                                <label><input type="radio" name="search[category]" value = "anm"><i class="fa fa-paw"></i> Animal</label>
                            </div>
                            <div class = radio-inline>
                                <label><input type="radio" name="search[category]" value = "home"><i class="fa fa-home"></i> Furniture & Housing</label>
                            </div>
                            <div class = radio-inline>
                                <label><input type="radio" name="search[category]" value = "oter"><i class="fa fa-question-circle"></i> Other</label>
                            </div>

                            <div class = "form group">
                                <input type = "submit" class = "btn btn-primary" value = "Search">
                            </div>

                            </div>
                        </form>
                    </div>


            </div>



        <div id = "main_container" class = "col-md-10">
            <div class = "row text-center" style = "display:flex; flex-wrap: wrap;">

                <% if (posts.length == 0){ %>

                    <div class = "container">
                        <h1> No posts right now :'(</h1>
                    </div>
                <% } else {%>

                    <% posts.forEach(function(post){ %>

                        <div class = "col-md-3 col-sm-6" >
                            <div class = "thumbnail">
                                <h1><%= post.title %></h1>
                                <img src = "<%= post.image %>" width = "150" height = "230">
                                <h6><%= post.price %> $</h6>

                                <p> <%= post.desc.substring(0, 20) %>...</p>

                                <button class = "btn btn-primary"><a href = "/shop/<%= post._id%>">Show More</a></button>
                            </div>
                        </div>
                    <% }) %>
                <% }%>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>
